<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StdMng2016.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="StdMng2016.Properties.Settings.StdMng2015NConnectionString"
      connectionString="Data Source=LLZLT\LLZLT;Initial Catalog=StdMng2015N;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="StdMng2015NEntities" connectionString="metadata=res://*/StdModel.csdl|res://*/StdModel.ssdl|res://*/StdModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LLZLT\LLZLT;initial catalog=StdMng2015N;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <StdMng2016.Properties.Settings>
      <setting name="PageSize" serializeAs="String">
        <value>18</value>
      </setting>
    </StdMng2016.Properties.Settings>
  </userSettings>
</configuration>